p.userstatus-intro {
  margin: 0 30px;
}

div.userstatus-menu {
  margin: 0 30px;
}

p.userstatus-menu-label {
  display: inline-block;
}

p.userstatus-menu-item {
  display: inline-block;
}

table.fiscal-account th:last-child,
table.fiscal-account td:last-child {
  text-align: right;
}

.openuserstatus .element-title h3 {
  margin: 1em 0;
  font-weight: bold;
}